body{
    font-family: 'Oswald', sans-serif;

}

.buttons{
    display: flex;
    flex-direction: row;
}

.animalPics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
border: 5px solid black;
}